*{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.container{
    margin: 20px 0px 0px 150px;
    width: 900px;
    display: grid;
    grid-template-columns: 100px 90px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 5px;
}
.one{
    background-color: rgb(11, 239, 148);
    grid-column: 1/7;
    color: rgb(11, 239, 148);

}
.two{
    background-color: rgb(15, 168, 233);
    color: rgb(15, 168, 233);
}
.three{
    background-color:  rgb(11, 239, 148);
    color: rgb(11, 239, 148);
    
}
.four{
    background-color: rgb(222, 38, 50);
    color:rgb(237, 43, 43);
    grid-column:3/6 ;
    grid-row: 2/4;
}
.five{
    background-color: rgb(15, 168, 233);
    color: rgb(15, 168, 233);
    height: 205px;
}
.six{
    background-color: rgb(15, 168, 233);
    color: rgb(15, 168, 233);
    grid-row: 3/5;
}
.seven{
    background-color: rgb(11, 239, 148);
    color: rgb(11, 239, 148);
}
.eight{
    background-color:rgb(15, 168, 233);
    color: rgb(11, 165, 236);
}
.nine{
    background-color: rgb(237, 43, 43);
    color: rgb(237, 43, 43);
}
.ten{
    background-color: rgb(237, 43, 43);
    color: rgb(237, 43, 43);
}
.eleven{
    background-color: rgb(237, 43, 43);
    color: rgb(237, 43, 43);
}
.twelve{
    background-color:rgb(11, 239, 148);
    color: rgb(11, 239, 148);
    grid-column: 5/7;
}